@import 'mixins.scss';
/* Colors */

/* Primary*/
$lightRed: hsl(0, 100%, 67%);
$lightRedBackground: hsla(0, 100%, 67%, 0.1);
$orangeYellow: hsl(39, 100%, 56%);
$orangeYellowBackground: hsla(39, 100%, 56%, 0.1);
$greenTeal: hsl(166, 100%, 37%);
$greenTealBackground: hsla(166, 100%, 37%, 0.1);
$cobaltBlue: hsl(234, 85%, 45%);
$cobaltBlueBackground: hsla(234, 85%, 45%, 0.1);

/*Gradients*/
$lightSlateBlue: hsl(252, 100%, 67%); //Bakground
$lightRoyalBlue: hsl(241, 81%, 54%); //Background
$violetBlue: hsla(256, 72%, 46%, 1); //Circle
$persianBlue: hsla(241, 72%, 46%, 0); //Circle

/*Neutral*/
$white: hsl(0, 0%, 100%);
$paleBlue: hsl(221, 100%, 96%);
$lightLavender: hsl(241, 100%, 89%);
$darkGreyBlue: hsl(224, 30%, 27%);
$darkGreyBlueLighter: hsla(224, 30%, 27%, 0.5);

@font-face {
    font-family: HankenGrotesk;
    src: url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: fit-content;
    font-family: HankenGrotesk;
}

.container {
    display: flex;
    justify-content: center;
    width: auto;
    border-radius: 20px;

    .left {
        color: $lightLavender;
        padding: 20px;
        width: 40%;
        text-align: center;
        border-radius: 20px;
        background: linear-gradient($lightSlateBlue, $lightRoyalBlue);

        .h4 {
            text-align: center;
        }

        .left_score {
            padding: 50px;
            width: 74px;
            height: 74px;
            border-radius: 100%;
            background: linear-gradient($violetBlue, $persianBlue);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin: 0 auto;
            text-align: center;

            .left_big_score {
                color: $white;
                font-weight: bold;
                font-size: 50px;
            }

            .left_small_score {
                color: $lightLavender;
            }

        }
    }

    .right {
        width: 50%;
        padding: 20px;

        .right_scores {
            .score {
                .right_score_black {
                    color: $darkGreyBlue;
                }

                .right_score_gray {
                    color: $darkGreyBlueLighter;
                }

                .score_icon {
                    display: flex;

                    img {
                        margin-right: 5px;
                    }
                }
            }

            .score_reaction {
                @include score_styles;
                background-color: $lightRedBackground;
                color: $lightRed;
            }

            .score_memory {
                @include score_styles;
                background-color: $orangeYellowBackground;
                color: $orangeYellow;
            }

            .score_visual {
                @include score_styles;
                background-color: $cobaltBlueBackground;
                color: $cobaltBlue;
            }

            .score_verbal {
                @include score_styles;
                background-color: $greenTealBackground;
                color: $greenTeal;
            }

            .right_button {
                margin-top: 30px;
                padding: 15px 30px;
                border: none;
                color: $white;
                outline: none;
                background-color: $darkGreyBlue;
                width: 100%;
                border-radius: 20px;
            }
        }
    }
}